/*background image*/
body{
  /*credit to @_ighosh*/
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 100px;
}
.col-md-4.col-md-offset-4.name-card{
  background: white;
  color: gray;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
/*picture*/
.me{
  border-radius: 50%;
  border-width: thick;
  border-color: white;
  height: 225px;
  width: 225px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.strong{
  color: white;
}

.row.icons{
  margin-top: 20px;
}

.ref-icons{
  color: gray;
  &:hover{
    color: black;
  }
}

.container.top-bar, .navbar-brand, .info{
  font-family: 'Spectral', serif;
  font-weight: 200;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
